.vscode

.metadata

*.exe
*.i

.plugins
.lock
.log
.log4j2.xml
.settings
.cproject
.mxproject
.project
*.launch

Project Backups
*.workspace

Mastering STM32 - Second Edition.pdf

todo.txt

Figure*.png
Table*.png
